@import "./variables/styles.scss";

main {
	@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:wght@300&display=swap");
	font-family: "Montserrat", sans-serif;
	color: $colorText;
	overflow: hidden;
	a:link,
	a:visited,
	a:hover,
	a:active {
		color: $colorText;
		text-decoration: none;
	}
	section {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 100vh;
	}
}
